altair
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
axios
Babel
backcall
beautifulsoup4
bleach
blinker
Bottleneck
branca
cachetools
cattrs
certifi
cffi
charset-normalizer
click
cloudevents
colorama
comm
contourpy
cryptography
cycler
dacite
debugpy
decorator
defusedxml
deprecation
distlib
et-xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
folium
fonttools
fqdn
frozendict
functions-framework
gdown
gitdb
GitPython
greenlet
h11
html5lib
htmlmin
idna
ImageHash
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
inflect
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
mistune
mplsoccer
multimethod
multitasking
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openpyxl
overrides
package_name
packaging
panda
pandas
pandas-profiling
pandocfilters
parso
patsy
peewee
phik
pickleshare
Pillow
platformdirs
plotly
polar
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2
pure-eval
pyarrow
pycoingecko
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pygame
Pygments
Pympler
PyMySQL
pyparsing
PySocks
python-dateutil
python-decouple
python-dotenv
python-json-logger
python-pptx2
pytz
pytz-deprecation-shim
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-cache
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
statsbombpy
statsmodels
streamlit
sweetviz
tangled-up-in-unicode
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typeguard
typing_extensions
tzdata
tzlocal
uri-template
url-normalize
urllib3
uvicorn
validators
virtualenv
visions
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wordcloud
xgboost
XlsxWriter
ydata-profiling
yfinance
zipp