altair
annotated-types
anyio
appdirs44
argon-cffi
argon-cffi-bindings
arrow
asttokens
async-lru4
attrs
axios4
Babel
backcall
beautifulsoup44
bleach
blinker
Bottleneck
branca
cachetools
cattrs
certifi
cffi
charset-normalizer
click4
cloudevents
colorama4
comm
contourpy
cryptography44
cycler
dacite
debugpy
decorator
defusedxml
deprecation
distlib
et-xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
folium4
fonttools44
fqdn
frozendict4
functions-framework4
gdown4
gitdb4
GitPython
greenlet
h4
htmllib
htmlmin
idna4
ImageHash4
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
inflect
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja
joblib
json4
jsonpointer4
jsonschema4
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals44
jupyterlab4
jupyterlab-pygments
jupyterlab_server4
keras
kiwisolver44
lxml4
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
mistune
mplsoccer
multimethod4
multitasking
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openpyxl
overrides4
packaging
panda
pandas
pandas-profiling
pandocfilters
parso
patsy
peewee
phik
pickleshare
Pillow
platformdirs
plotly
polar
prometheus-client
prompt-toolkit
protobuf4
psutil4
psycopg
pure-eval
pyarrow
pycoingecko
pycparser
pydantic
pydantic-settings
pydantic_core
pydeckb
pygame4
Pygments4
Pympler
PyMySQL
pyparsing
PySocks
python-dateutil
python-decouple
python-dotenv
python-json-logger
python-pptx
pytz
pytz-deprecation-shimpost
PyWavelets4
pywin
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-cache
rfc-validator4
rfc-validator
rich4
rpds-py
scikit-learn4post
scipy
seaborn
SendTrash
six
sklearnpost
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
statsbombpy
statsmodels4
streamlit4
sweetviz
tangled-up-in-unicode
tenacity
terminado
threadpoolctl
tinycss
toml
toolz
tornado
tqdm4
traitlets
typeguard
typing_extensions4
tzdata
tzlocal4
uri-template
url-normalize4
urllib
uvicorn
validators
virtualenv
visions
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wordcloud
xgboost
XlsxWriter
ydata-profiling4
yfinance
zipp
